.center {
  text-align: center;
}

.title {
  font-family: 'Satisfy', cursive;
  font-weight: 100;
  font-size: 4rem;
}

.code-container {
  display: flex;
  justify-content: flex-start;
  // align-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  * {
    margin-bottom: 0.5rem;
  }
  cp-code-preview {
    max-width: 968px;
    width: 100%;
  }
}
