
// Theme Colors
$main-bg-color: #d9563c;
$editor-bg-color: #343a40;

// Font colors
$title-color-on-main: #fefefe;
$title-color-on-dark: #adb5bd;
$title-color-on-light: #495057;
$title-color-accent-on-dark:#ff922b;

// Editor Colors:
$close-btn-color: #ffa8a8;
$max-btn-color: #8ce99a;
$min-btn-color: #ffe066;
